.body{
    background-color: blanchedalmond;
}
.janela1{
    background-color: red;
    height: 200px;
    width: 200px;
}
.janela2{
    background-color: blue;
    height: 200px;
    width: 200px;
}
.janela3{
    background-color: green;
    height: 200px;
    width: 200px;
}
